@media (max-width: 60em) {
    aside {
        display: none;
    }

    nav#menu {
        grid-column: span 2;
    }

    section#news {
        grid-column: span 2;
    }
}

@media (max-width: 30em) {
    input#hamburger {
        display: none;
    }

    .hamburger {
        display: flex;
        padding: 1em;
        background-color: #2A2F33;
    }

    .hamburger::before {
        content: "\2630";
        color: white;
        font-size: 1.5rem;
    }

    nav#menu ul {
        flex-direction: column;
        overflow: hidden;
        max-height: 0;
        transition: max-height .5s;
    }

    input#hamburger:checked ~ ul {
        max-height: 500px;
    }

    input#hamburger:checked ~ .hamburger::before {
        content: "\2715";
    }

    nav#menu li:hover {
        background-color: #2A2F33;
        transition: .5s;
    }

    nav#menu li:hover a {
        color:white;
    }

    nav#menu li {
        border-top: 0;
        border-left: solid 5px;
        list-style-type: none;
        text-align: left;
        padding: 1em;
    }
}